<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../JavaScript/CSS/FormCss.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/Button.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/TableCss.css">
    <title> Patient Admission </title>
    <link rel="stylesheet" href="../../JavaScript/CSS/style.css">
    <script src="../../JavaScript/Controller/adminController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
</head>

<body>
<div id="page">
    <div class="header"><img src="../../JavaScript/img/logoPCU%20(2).jpg" height="174" width="721"/>
        <h1> Patient Admission</h1>
    </div>
</div>
<div class="content"  ng-controller="SearchAdmission">
    <form>
        <div class="navigation">

            <h4>  Admission Number</h4>
            <input type="text" name="id" placeholder="Admission Number" ><br/>

            <h4> First  Name</h4>
            <input type="text" name="firstName" placeholder="First Name" ng-model="admission.firstName"><br/>

            <h4>  Last Name</h4>
            <input type="text" name="lastName" placeholder="Last Name" ng-model="admission.lastName"><br/>

            <h4> Date Of Birth</h4>
            <input type="text" name="dob" placeholder="Date of Birth" ng-model="admission.dob"><br/>

            <h4>Age </h4>
            <input type="text" name="age" placeholder="Age" ng-model="admission.age"> <br/>

            <h4> Blood Group </h4>
            <input list="bloodGroup" name="blood" placeholder="Blood Group" ng-model="admission.blood">
            <datalist id="bloodGroup">
                <option value="A+"></option>
                <option value="A-"></option>
                <option value="B+"></option>
                <option value="B-"></option>
                <option value="AB+"></option>
                <option value="AB-"></option>
                <option value="O+"></option>
                <option value="O-"></option>
            </datalist>
            <br/>
            <h4> Bed Type </h4>
            <input type="text" name="bedtype" placeholder="Bed Type" ng-model="admission.bedtype"><br/>


            <h4> Department </h4>
            <input type="text" name="department" placeholder="Department" ng-model="admission.department"><br/>

            <h4>Gurantor's Name </h4>
            <input type="text" name="gname" placeholder="Gurantor's Name" ng-model="admission.gname"><br/>

            <h4>Gurantor's Phone</h4>
            <input type="text" name="gphone" placeholder="Gurantor's Phone" ng-model="admission.gphone"><br/>


            </th>
            <br/>
            <div> <button> Add </button> </div><br/>
            <div> <button> Update </button> </div>
        </div>

    </form>
    <div style="float: right">
        <br/>
        Search : <input type="text" placeholder="Search" ng-model="searchText"/><br><br><br>
        <table>
            <thead>
                <tr>
                    <th> Admission Number </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Date Of Birth </th>
                    <th> Age </th>
                    <th> Blood Group</th>
                    <th> Bed Type </th>
                    <th> Department </th>
                    <th> Gurantor's Name </th>
                    <th> Gurantor's Phone Number </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="admission in admissions | filter:searchText">
                    <td> {{admission.id}} </td>
                    <td> {{admission.firstName}} </td>
                    <td> {{admission.lastName}} </td>
                    <td> {{admission.dob | date: "dd/MM/yyyy"}} </td>
                    <td> {{admission.age |number}} </td>
                    <td> {{admission.blood}} </td>
                    <td> {{admission.bedtype}} </td>
                    <td> {{admission.department}} </td>
                    <td> {{admission.gname}} </td>
                    <td> {{admission.gphone}} </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>



</body>
</html>