<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../JavaScript/CSS/FormCss.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/Button.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/TableCss.css">
    <title> Patient Registration </title>
    <link rel="stylesheet" href="../../JavaScript/CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>
    <script src="../../node_modules/angular-route/angular-route.min.js"></script>

</head>
<body>
<div id="page">
    <div class="header"><img src="../../JavaScript/img/logoPCU%20(2).jpg" height="174" width="721"/>
        <h1> Patient Registration</h1>
    </div>
</div>
<div class="content" ng-controller="Registration">
    <form>
        <div class="navigation">

            <h4>  Admission Number</h4>
            <input type="text" name="admissionNo" placeholder="Admission Number" ng-model="registration.id"><br/>

            <h4>  First Name</h4>
            <input type="text" name="firstName" placeholder="First Name" ng-model="registration.firstName"><br/>

            <h4> Last Name</h4>
            <input type="text" name="lastName" placeholder="Last Name" ng-model="registration.lastName"><br/>

            <h4> Date Of Birth</h4>
            <input type="text" name="dob" placeholder="Date Of Birth" ng-model="registration.dob"><br/>

            <h4> Age</h4>
            <input type="text" name="age" placeholder="Age" ng-model="registration.age"><br/>


            <h4>Address </h4>
            <input type="text" name="address" placeholder="Addresss" ng-model="registration.address"> <br/>

            <h4>Gender</h4>
            <input type="radio" name="gender" value="m" ng-model="registration.gender">Male
            <input type="radio" name="gender" value="f" ng-model="registration.gender">Female<br/>

            <h4> Blood Group </h4>
            <input list="bloodGroup" name="blood" placeholder="Blood Group" ng-model="registration.blood">
            <datalist id="bloodGroup">
                <option value="A+"></option>
                <option value="A-"></option>
                <option value="B+"></option>
                <option value="B-"></option>
                <option value="AB+"></option>
                <option value="AB-"></option>
                <option value="O+"></option>
                <option value="O-"></option>
            </datalist>
            <br/>

            <h4>Status </h4>
            <input type="label" name="status" ng-model="registration.status"> <br/>

            <h4>Date Of Admission</h4>
            <input type="text" name="admsiondate" placeholder="Date Of Admission" ng-model="registration.admsiondate"> <br/>

            <h4>Gurantor's Name</h4>
            <input type="text" name="gname" placeholder="Gurantor's Name" ng-model="registration.gname"> <br/>

            <h4>Gurantor's Phone</h4>
            <input type="text" name="gphone" placeholder="Gurantor's Phone" ng-model="registration.gphone"> <br/>


            </th>
            <br/>
            <div> <button> Add </button> </div><br/>
            <div> <button> Update </button> </div>
        </div>

    </form>
    <div style="float: right">
        <br/>
        Search : <input type="text" placeholder="Search" ng-model="searchText"/><br><br><br>
        <table>
            <thead>
                <tr>
                    <th> Admission Number </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Date Of Birth </th>
                    <th> Address </th>
                    <th> Gender</th>
                    <th> Blood Group</th>
                    <th> Hospital Admission Type</th>
                    <th> Date Of Admission </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registration  in registrations | filter:searchText">
                    <td> {{registration.id}} </td>
                    <td> {{registration.firstName}} </td>
                    <td> {{registration.lastName}} </td>
                    <td> {{registration.dob}} </td>
                    <td> {{registration.age}} </td>
                    <td> {{registration.address}} </td>
                    <td> {{registration.gender}} </td>
                    <td> {{registration.blood}} </td>
                    <td> {{registration.type}} </td>
                    <td> {{registration.admsiondate}} </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>



</body>
</html>