<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../JavaScript/CSS/FormCss.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/TableCss.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/style.css">
    <title> Manage prescription </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="../../node_modules/angular-route/angular-route.js"></script>
    <script src="../../node_modules/angular-route/angular-route.min.js"></script>
    <link rel="stylesheet" href="../../JavaScript/CSS/Button.css">

</head>
<body>
<div id="page">
    <div class="header"><img src="../../JavaScript/img/logoPCU%20(2).jpg" height="174" width="721"/>
        <h1> Manage Prescription page</h1>
    </div>
</div>
<div class="content" ng-controller="ManagePrescription">
        <form>
        <div class="navigation">
            <h4>  Patient ID</h4>
            <input type="text" name="id" ng-model="prescription.pid"><br/>

            <h4>  Prescription Code</h4>
            <input type="text" name="code" ng-model="prescription.presCode"><br/>

            <h4> Prescription Name </h4>
            <input type="text" name="name" ng-model="prescription.presName"><br/>

            <h4>Category </h4>
            <input type="text" name="category" ng-model="prescription.category"> <br/>

            <h4>Unit Type</h4>
            <input type="text" name="uni" ng-model="prescription.unit"><br/>

            <h4> Quantity </h4>
            <input type="number" name="qty" ng-model="prescription.qty"><br/>

            </th>
            <br/>
            <div> <button ng-click="AddPrescriptio()" class="button"> Add </button> </div><br/>
            <div> <button ng-click="EditPrescription(prescription._id)" class="button"> Update </button> </div>
        </div>

    </form>
        <div style="float: right">
                <br/>
                <table>
                    <thead>
                        <tr>
                            <th> Patient ID </th>
                            <th> Prescription Code </th>
                            <th> Prescription Name </th>
                            <th> Category </th>
                            <th> Unit Type</th>
                            <th> Quantity </th>
                        </tr>
                        <tr ng-repeat="Prescription in prescriptions">
                            <th> {{Prescription.patientID}} </th>
                            <th> {{Prescription.prescriptionCode}} </th>
                            <th> {{Prescription.prescriptionName}} </th>
                            <th> {{Prescription.unit}} </th>
                            <th> {{Prescription.quantity}} </th>
                    </thead>
                </table>
        </div>
</div>
</body>



</body>
</html>