<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../JavaScript/CSS/TableCss.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/Button.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/FormCss.css">
    <title>Search Precription</title>
    <link rel="stylesheet" href="../../JavaScript/CSS/style.css">
    <script src="../../JavaScript/Controller/PresController.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>

</head>
<body>
<div id="page">
    <div class="header"><img src="../../JavaScript/img/logoPCU%20(2).jpg" height="174" width="721"/>
        <h1> Search Prescription page </h1>
    </div>
</div>
<div class="content" ng-controller="SearchPres">

    <form>
        <div class="navigation">
            <div style="float: left">
                <div>
                    <h4>Patient ID </h4>
                    <input type="text" ng-model="searchVal.patientID">
                </div>
                <br/>
                <div>
                    <h4>Category </h4>
                    <select>

                    </select>
                </div>
                <br/>
                <div>
                  <!--  <button class="button">Search Prescription</button>-->
                </div><br/>
            </div>
        </div>
        <div style="float: right">
        <table>
            <thead>
                <tr>
                    <th> Patient ID </th>
                    <th> Prescription Code </th>
                    <th> Prescription Name </th>
                    <th> Categoty</th>
                    <th> Unit </th>
                    <th> Quantity </th>
                </tr>
                <tr ng-repeat="Prescription in prescriptions |filter:searchVal">
                    <th> {{Prescription.patientID}} </th>
                    <th> {{Prescription.prescriptionCode}} </th>
                    <th> {{Prescription.prescriptionName}} </th>
                    <th> {{Prescription.category}} </th>
                    <th> {{Prescription.unit}} </th>
                    <th> {{Prescription.quantity}} </th>

                </tr>
            </thead>
        </table>
        </div>

    </form>
</div>
</body>
</html>