<!DOCTYPE html>
<html ng-app>
<head>


    <link rel="stylesheet" href="../../JavaScript/CSS/Button.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/TableCss.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/FormCss.css">
    <title>Search Lab Test</title>
    <link rel="stylesheet" href="../../JavaScript/CSS/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="../../JavaScript/Controller/PresController.js"></script>
</head>
<body>
<div id="page">
    <div class="header"><img src="../../JavaScript/img/logoPCU%20(2).jpg" height="174" width="721"/>
        <h1 > Search Lab test Details</h1>
    </div>
</div>
<div class="content" ng-controller="SearchLab">
    <form>
        <div class="navigation">

            <div style="float: left">
                <div>
                    <h4>Patient ID </h4>
                    <input type="text" ng-model="searchVal.patientID">
                </div><br/>
                <div>
                    <h4>Category </h4>
                    <select ng-model="searchVal.testName" >
                    <option>A</option><option>B</option><option>C</option><option>D</option><option>E</option><option>F</option>
                    <option>G</option><option>H</option><option>I</option><option>J</option><option>K</option><option>L</option>
                    <option>M</option><option>N</option><option>O</option><option>P</option><option>Q</option><option>R</option>
                    <option>S</option><option>T</option><option>U</option><option>V</option><option>W</option><option>X</option>
                    <option>Y</option><option>Z</option>

                    </select>
                </div><br/>
                <div>
                    <!--<button class="button">Search Prescription</button>-->
                </div><br/>
            </div>
        </div>
    <div style="float: right">
        <table>
            <thead>
                <tr>
                    <th> Patient ID </th>
                    <th> Test Code </th>
                    <th> Test Name </th>
                    <th> Date </th>
                </tr>
                <tr ng-repeat="Test in Tests | filter:searchVal">
                    <th> {{Test.patientID}} </th>
                    <th> {{Test.testCode}} </th>
                    <th> {{Test.testName}} </th>
                    <th> {{Test.date}} </th>

                </tr>
            </thead>
        </table>
    </div>
    </form>
</div>
</body>
</html>