<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>PCU</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../JavaScript/Controller/app.js"></script>
    <script src="../JavaScript/Controller/controller.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <link rel="stylesheet" href="../JavaScript/CSS/style.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/Button.css">
    <link rel="stylesheet" href="../../JavaScript/CSS/FormCss.css">
    <script src="../../JavaScript/Controller/NonCritController.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>

</head>
<body>
<div id="page">
    <div class="header"><img src="../../JavaScript/img/logoPCU%20(2).jpg" height="174" width="721"/>
        <h1> Check Medical History </h1>
    </div>
</div>
<div ng-controller="SearchHis">



    <form>
        <div style="float: left">

            <table border="0">
                <tr>
                    <td><b><h3>Patient Details</h3></b></td></tr><tr></tr>

                <TR>
                    <TD width="220">Patient ID  </TD><TD width="300"> <input type="text" placeholder="patient id " ngmodel="fname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>


                <TR>
                    <TD width="220">Full Name </TD><TD width="300"> <input type="text" placeholder="full name" ngmodel="fname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <TR>
                    <TD width="220">Address </TD><TD width="300"> <input type="text" placeholder="address" ngmodel="fname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <TR>
                    <TD width="220">NIC  </TD><TD width="300"> <input type="text" placeholder="nic" ngmodel="fname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>


                <TR>
                    <TD width="220">Contact No  </TD><TD width="300"> <input type="text" placeholder="contact no" ngmodel="fname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>


                <TR>
                    <TD width="220">Age          </TD><TD width="300"> <input type="text" placeholder="age" ngmodel="fname"></TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <TR>
                    <TD width="220">Gender </TD>
                    <TD TD width="220"><input type="radio" ng-model="gender" value="male">Male
                        <input type="radio" ng-model="gender" value="female">Female</TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>


                <TR>
                    <TD width="220">Blood Group </TD>
                    <TD width="220"><input type="radio" ng-model="myVar" value="A+">A+
                        <input type="radio" ng-model="myVar" value="A-">A-</TD>
                </TR>
                <TR>
                    <TD width="220">       </TD>
                    <TD width="220"><input type="radio" ng-model="myVar" value="B+">B+
                        <input type="radio" ng-model="myVar" value="B-">B-</TD>
                </TR>
                <TR>
                    <TD width="220">       </TD>
                    <TD width="220"><input type="radio" ng-model="myVar" value="O+">O+
                        <input type="radio" ng-model="myVar" value="O-">O-</TD>
                </TR>
                <TR>
                    <TD width="220">       </TD>
                    <TD width="220"><input type="radio" ng-model="myVar" value="AB+">AB+
                        <input type="radio" ng-model="myVar" value="AB-">AB-</TD>
                </TR>

                <tr></tr><tr></tr><tr></tr><tr></tr><tr>
                <tr></tr><tr></tr><tr></tr><tr></tr><tr>
                <tr></tr><tr></tr><tr></tr><tr></tr><tr>

                <tr></tr><tr></tr><tr></tr><tr></tr>

                <tr>
                    <td><b><h2>Past History</h2></b></td></tr><tr></tr>

                <TR>
                    <TD width="220">Had Any Illness that made to see the Doctor?         </TD><TD width="300"> <input type="text" placeholder="illness" ngmodel="fname"></TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <TR>
                    <TD width="220">Attending to any Hospital Clinic?         </TD><TD width="300" > <input type="text" placeholder="Yes / No" ngmodel="fname"></>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>


                <tr>
                    <td><b><h2>Drug History</h2></b></td></tr><tr></tr>

                <TR>
                    <TD width="220">Any Allergies to Drugs ?         </TD><TD width="300"> <input type="text" placeholder="allergies" ngmodel="fname"></TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <tr>
                    <td width="300"><b><h2>General / On Examination</h2></b></td></tr><tr></tr>

                <tr></tr><tr></tr><tr></tr><tr></tr><tr>
                <TR>
                    <TD>Physical Appearance </TD>

                    <TD width="200">Height(cm) <input type="text" placeholder="height" ngmodel="fname"></TD>
            </TR>

                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <TR>
                    <TD></TD>

                    <TD width="220">Weigth(kg)    <input type="text" placeholder="weight" ngmodel="fname"></TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>



                <tr>
                    <td width="200"><b><h3></h3></b></td></tr><tr></tr>

                <tr></tr><tr></tr><tr></tr><tr></tr><tr>

                <TR>
                    <TD width="220">Mental State         </TD><TD width="300"> <input type="text" placeholder="state" ngmodel="fname"></TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <TR>
                    <TD width="220">Back Pain         </TD><TD width="300"> <input type="text" placeholder="pain" ngmodel="fname"></TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <TR>
                    <TD width="220">Doctor's Note </TD><TD width="300" > <input type="text" style="height: 100px; width:175px" placeholder="Note" ngmodel="fname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <tr>
                    <td><b><h2>Guardian Details</h2></b></td></tr><tr></tr>

                <TR>
                    <TD width="220">Guardian Name  </TD><TD width="300"> <input type="text" placeholder="full name" ngmodel="fname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>


                <TR>
                    <TD width="220">Address           </TD><TD width="300"> <input type="text" placeholder="address" ngmodel="lname"> </TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>

                <TR>
                    <TD width="220">Contact No         </TD><TD width="300"> <input type="text" placeholder="contact no" ngmodel="fname"></TD>
                </TR>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>
                <TR>
                    <TD width="220" >    </TD><TD> <button ng-click="myFunc()" class="button"><b>SUMBIT</b></button>

                </TR>

                <tr></tr><tr></tr><tr></tr><tr></tr>
                <tr></tr><tr></tr><tr></tr><tr></tr>


            </table>

        </div>
    </form>


    <div style="float: right">

        <table border="0">
            <tr>
                <td><b><h3>Search Details</h3></b></td></tr><tr></tr>

            <TR>
                <TD>Patient Id </TD><TD> <input type="text" id="patient id" placeholder="floor no" ng-model="searchVal.floor"> </TD>
            </TR>
            <tr></tr><tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr>


           <!-- <TD width="300">    </TD><TD> <button ng-click="myFunc()" class="button"><b>SEARCH</b></button>-->

        </TD>

            </TR>
            <tr></tr><tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr>



            <TR>
                <TD width="220">Doctor's Note </TD><TD width="300" > <input type="text" style="height: 100px; width:175px" placeholder="Note" ngmodel="fname"> </TD>
            </TR>
            <tr></tr><tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr>


        </table>

        <table style="width:100%"; border="1">
            <thread>
                <tr>
                    <th height="30">Department   </th>
                    <th> Patient </th>
                    <th> Ward No </th>
                    <th> Ward Category </th>
                    <th> Floor No </th>
                    <th> Bed No </th>
                    <th> Addmited Dtae </th>
                    <th> Discharged Date </th>
                </tr>
                <tr ng-repeat="his in history | filter:searchVal">
                    <th height="30"> {{his.dep}} </th>
                    <th> {{his.pid}} </th>
                    <th> {{his.wno}} </th>
                    <th> {{his.wcategory}} </th>
                    <th> {{his.floor}} </th>
                    <th> {{his.bed}} </th>
                    <th> {{his.adate}} </th>
                    <th> {{his.ddate}} </th>

                </tr>
            </thread>
        </table>

    </div>


    </form>
</div>


</body>
</html>



