<!DOCTYPE html>
<html>
<head>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../JavaScript/Controller/app.js"></script>
    <script src="../../JavaScript/Controller/controller.js"></script>
    <script src="../../bower_components/angular-route/angular-route.min.js"></script>
    <title> Lab Test Page </title>
    <link rel="stylesheet" href="../../JavaScript/CSS/style.css">
</head>
<body>
<div id="content">
    <div id="header">
        <h1>Lab Test Details</h1>
        <ul class="navigation">
            <li id="link1" ng-controller="ManageLabTest" ng-click="redirectToGoogle()"> <a ng-href="#/ManageLabTest">
                Manage Lab Test Details
            </a></li>

            <li id="link2" ng-controller="SearchLabTest" ng-click="redirectToGoogle()"> <a ng-href="#/SearchLabTest">
                Search Lab Test Details
            </a></li>
        </ul>
    </div>

</div>

</body>
</html>